*{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #000;
  }

#audio h1{
  color: rgb(35, 176, 35);
  font-size: 2vw;
}

#audio h2{
  color: rgb(202, 200, 200);
  font-size: 1vw;
}

#audio h3{
  color: gray;
  font-size: 0.9vw;
}